<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>Edit quote</h1>
  </div>

<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>
</main>