.btn {
    display: inline-block;
    padding: var(--space-xxs) var(--space-m);
    border-radius: var(--border-radius);
    background-origin: border-box; // Invisible borders with linear gradients
    background-color: transparent;
    border: solid 2px transparent;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: filter 400ms, color 200ms;
  
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      transition: filter 250ms, color 200ms;
    }
  
    // Modifiers will go there

    &--primary {
        color: var(--color-white);
        background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: var(--color-white);
          filter: saturate(1.4) brightness(115%);
        }
      }
    
      &--secondary {
        color: var(--color-white);
        background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));
    
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: var(--color-white);
          filter: saturate(1.2) brightness(110%);
        }
      }
    
      &--light {
        color: var(--color-dark);
        background-color: var(--color-light);
    
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: var(--color-dark);
          filter: brightness(92%);
        }
      }
    
      &--dark {
        color: var(--color-white);
        border-color: var(--color-dark);
        background-color: var(--color-dark);
    
        &:hover,
        &:focus,
        &:focus-within,
        &:active {
          color: var(--color-white);
        }
      }
  }
  