.line-item-date {
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xxs);
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-xs);
    }
  
    &__title {
      font-size: var(--font-size-xl);
  
      @include media(tabletAndUp) {
        font-size: var(--font-size-xxl);
      }
    }
  
    &__actions {
      display: flex;
      gap: var(--space-xs);
    }
  }