.line-item {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    background-color: var(--color-white);
  
    gap: var(--space-xs);
    margin-bottom: var(--space-s);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
  
    > * {
      margin-bottom: 0;
    }
  
    &__name {
      flex: 1 1 100%;
      font-weight: bold;
  
      @include media(tabletAndUp) {
        flex: 1 1 0;
      }
    }
  
    &__description {
      flex-basis: 100%;
      max-width: 100%;
      color: var(--color-text-muted);
      font-weight: normal;
      font-size: var(--font-size-s);
    }
  
    &__quantity-price {
      flex: 0 0 auto;
      align-self: flex-end;
      justify-self: flex-end;
      order: 3;
  
      font-weight: bold;
  
      @include media(tabletAndUp) {
        display: none;
      }
    }
  
    &__quantity {
      flex: 1;
      display: none;
  
      @include media(tabletAndUp) {
        display: revert;
        flex: 0 0 7rem;
      }
    }
  
    &__price {
      flex: 1;
      display: none;
  
      @include media(tabletAndUp) {
        display: revert;
        flex: 0 0 9rem;
      }
    }
  
    &__actions {
      display: flex;
      gap: var(--space-xs);
      order: 2;
      flex: 1 1 auto;
  
      @include media(tabletAndUp) {
        order: revert;
        flex: 0 0 10rem;
      }
    }
  
    &--form {
      box-shadow: var(--shadow-small);
  
      .line-item__quantity,
      .line-item__price {
        display: block;
      }
  
      .line-item__description {
        order: 2;
      }
    }
  
    &--header {
      display: none;
      background-color: var(--color-light);
      margin-bottom: var(--space-s);
  
      @include media(tabletAndUp) {
        display: flex;
      }
  
      & > * {
        font-size: var(--font-size-s);
        font-weight: bold ;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }