.navbar {
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-large);
    padding: var(--space-xs) var(--space-m);
    margin-bottom: var(--space-xxl);
    background-color: (var(--color-white));
  
    &__brand {
      font-weight: bold;
      font-size: var(--font-size-xl);
      color: var(--color-text-header);
    }
  
    &__name {
      font-weight: bold;
      margin-left: auto;
      margin-right: var(--space-s);
      color: var(--color-text-header);
    }
  
    &__right {
      margin-left: auto;
    }
  }